<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <title>NESTHOTEL TOKYO HANZOMON</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/index/scroll.js"></script>
    <script defer src="/js/index/sideMenu.js"></script>
    <script defer src="/js/index/top.js"></script>
    <script defer src="/js/index/cont2.js"></script>
    <script defer src="/js/index/backToTop.js"></script>
</head>

<body>
    <div id="loader">
        <img src="/img/logotype_large.png">
    </div>
    <div id="header_rel">
        <a href="#">
            <img class="menu" src="/img/icon_menu.png">
        </a>
        <a href="/">
            <img class="logo" src="/img/logo.png">
        </a>
        <a class="login" href="/login">
            <span>LOGIN</span>
            <img src="/img/arrow_right.png">
        </a>
    </div>
    <div id="header_fix">
        <a href="#">
            <img class="menu" src="/img/icon_menu.png">
        </a>
        <a href="#">
            <img class="logo" src="/img/logo.png">
        </a>
        <a class="book" href="#">
            <span>BOOK NOW</span>
            <img src="/img/arrow_right.png">
        </a>
    </div>
    <div id="side_menu">
        <a class="close" href="#">
            <img src="/img/icon_menu_close.png">
        </a>
        <div class="masker"></div>
        <a class="book" href="#">
            <span>BOOK NOW</span>
            <img src="/img/arrow_right.png">
        </a>
        <ul>
            <li class="rooms">
                <span>GUEST<br />ROOMS</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="breakfast">
                <span>FREE<br />BREAKFAST</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="features">
                <span>HOTEL<br />FEATURES</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="access">
                <span>ACCESS</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="gallery">
                <span>GALLERY</span>
                <img src="/img/icon_step.png">
            </li>
            <li class="contact">
                <span>CONTACT</span>
            </li>
        </ul>
        <div class="phone">
            <img src="/img/icon_phone.png">
            <span>+81-3-6261-4022</span>
        </div>
        <div class="login_join">
            <a href="/login">LOGIN</a>
            <a href="/join">JOIN</a>
        </div>
    </div>
    <div id="top">
        <div class="topBg01"></div>
        <div class="topBg02"></div>
        <div class="topBg03"></div>
    </div>
    <div id="container">
        <div class="cont1 introduce">
            <div class="book_now">
                <a href="#">
                    <div class="book_title">BOOK<br />NOW</div>
                    <img class="arrow" src="/img/arrow_right.png">
                    <img class="left_pc" src="/img/par_left_book.png">
                    <img class="right_pc" src="/img/par_right_book.png">
                    <img class="left_sp" src="/img/par_left_book_sp.png">
                    <img class="right_sp" src="/img/par_right_book_sp.png">
                </a>
            </div>
            <div class="text_wrap">
                <span>NEST HOTEL TOKYO HANZOMON</span>
                <h2 class="pc">A HIDEAWAY IN THE <br />CENTER OF THE CITY.</h2>
                <h2 class="sp">A HIDEAWAY IN THE CENTER OF THE CITY.</h2>
                <h3>With a book or drink in hand, stay and relax at your very own<br />hideaway in the center of the
                    city.</h3>
            </div>
            <form id="search" method="get"> <!-- 나중에 action 추가-->
                <div class="src_checkin">
                    <span>CHECK-IN</span>
                    <select name="dt_yyyy_mm" id="dt_yyyy_mm">
                        <option value="202307">Jul 2023</option>
                        <option value="202308">Aug 2023</option>
                        <option value="202309">Sep 2023</option>
                        <option value="202310">Oct 2023</option>
                        <option value="202311">Nov 2023</option>
                        <option value="202312">Dec 2023</option>
                    </select>
                    <select name="dt_dd" id="dt_dd">
                        <% for(let i=1; i<31; i++) { %>
                            <option value=<%- i %>><%- i %></option>
                            <% } %>
                    </select>
                </div>
                <div class="src_checkout">
                    <span>CHECK-OUT</span>
                    <select name="dt_yyyy_mm" id="dt_yyyy_mm">
                        <option value="202307">Jul 2023</option>
                        <option value="202308">Aug 2023</option>
                        <option value="202309">Sep 2023</option>
                        <option value="202310">Oct 2023</option>
                        <option value="202311">Nov 2023</option>
                        <option value="202312">Dec 2023</option>
                    </select>
                    <select name="dt_dd" id="dt_dd">
                        <% for(let i=1; i<=31; i++) { %>
                            <option value=<%- i %>><%- i %></option>
                            <% } %>
                    </select>
                </div>
                <div class="src_guests">
                    <span>GUESTS</span>
                    <select name="guests">
                        <% for(let i=1; i<=5; i++) { %>
                            <option value=<%- i %>><%- i %></option>
                            <% } %>
                    </select>
                </div>
                <div class="src_rooms">
                    <span>ROOMS</span>
                    <select name="rooms">
                        <% for(let i=1; i<=3; i++) { %>
                            <option value=<%- i %>><%- i %></option>
                            <% } %>
                    </select>
                </div>
                <div class="src_button">
                    <input type="submit" name="submit" value="SEARCH">
                    <img class="left_pc" src="/img/par_left_book.png">
                    <img class="right_pc" src="/img/par_right_book.png">
                    <img class="left_sp" src="/img/par_left_book_sp.png">
                    <img class="right_sp" src="/img/par_right_book_sp.png">
                </div>
            </form>
            <a class="mybookings" href="#">
                <span>My bookings</span><img src="/img/arrow_right.png">
            </a>
        </div>
        <div class="cont2 rooms">
            <div class="top_wrap">
                <div class="title">
                    <div>GUEST<br />ROOMS</div>
                    <img class="left_pc" src="/img/par_left_title.png">
                    <img class="right_pc" src="/img/par_right_title.png">
                    <img class="left_sp" src="/img/par_left_title_sp.png">
                    <img class="right_sp" src="/img/par_right_title_sp.png">
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide one">
                            <div>
                                <span class="meter">11<span>m²</span></span>
                                SINGLE<br />ROOM
                            </div>
                        </div>
                        <div class="swiper-slide two">
                            <div>
                                <span class="meter">15<span>m²</span></span>
                                TWIN<br />ROOM
                            </div>
                        </div>
                        <div class="swiper-slide three">
                            <div>
                                <span class="meter">25<span>m²</span></span>
                                BARRIER-FREE<br />ROOM
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="bot_wrap">
                <div class="left_wrap">
                    <div class="context01">
                        <img class="bed" src="/img/icon_room_bed.png">
                        <div class="txt">
                            All rooms equipped with world-class<br />Simmons beds
                            <span>Pillow top 6.5 Inch mattress<br />Envelope style duvet cover</span>
                        </div>
                    </div>
                    <div class="context02">
                        <img src="/img/icon_room_sofa.png">
                        <div class="txt">Tables and leather sofas</div>
                    </div>
                </div>
                <div class="right_wrap">
                    <div class="context01">
                        <img class="tv" src="/img/icon_room_tv.png">
                        <div class="txt">
                            32 inch LCD TV
                            <span>*40 inch for Twin rooms</span>
                        </div>
                    </div>
                    <div class="context02">
                        <img class="usb" src="/img/icon_room_usb.png">
                        <div class="txt">Bedside USB ports and sockets</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cont3 breakfast">
            <div class="title">
                <div>FREE<br />BREAKFAST</div>
                <img class="left_pc" src="/img/par_left_title.png">
                <img class="right_pc" src="/img/par_right_title.png">
                <img class="left_sp" src="/img/par_left_title_sp.png">
                <img class="right_sp" src="/img/par_right_title_sp.png">
            </div>
            <div class="banner"></div>
            <div class="context">
                <p>We offer guests a hand-picked selection of natural yeast bread at our lobby.<br />
                    Guests are invited to enjoy the complimentary breakfast in the comfort of their rooms.</p>
            </div>
        </div>
        <div class="cont4 features">
            <div class="top_wrap">
                <div class="title">
                    <div>HOTEL<br />FEATURES</div>
                    <img class="left_pc" src="/img/par_left_title.png">
                    <img class="right_pc" src="/img/par_right_title.png">
                    <img class="left_sp" src="/img/par_left_title_sp.png">
                    <img class="right_sp" src="/img/par_right_title_sp.png">
                </div>
                <div class="banner"></div>
                <div class="context">
                    <div class="left_wrap">
                        <div>
                            <p><span class="subtitle01">CHECK-IN</span><span>After 15:00</span></p>
                        </div>
                        <div>
                            <p><span class="subtitle01">CHECK-OUT</span><span>Until 11:00</span></p>
                        </div>
                    </div>
                    <div class="right_wrap">
                        <div>
                            <p><span class="subtitle02">ROOMS</span><span>102 rooms (no smoking)</span></p>
                        </div>
                        <div>
                            <p><span class="subtitle02">PARKING</span><span>None</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bot_wrap">
                <h4>FACILITIES & AMENITIES</h4>
                <div class="list_wrap">
                    <ul>
                        <li>Free Wi-Fi</li>
                        <li>Refrigerator</li>
                        <li>120cm semi-double bed<br />
                            <span>*100cm single bed for Twin rooms</span>
                        </li>
                        <li>32 inch LCD TV</li>
                        <li>Safe box</li>
                        <li>Toilet with built-in bidet</li>
                    </ul>
                    <ul>
                        <li>Electric kettle</li>
                        <li>Dryer</li>
                        <li>Pajama set</li>
                        <li>Bath towel & face towel</li>
                        <li>Shampoo</li>
                        <li>Conditioner</li>
                    </ul>
                    <ul>
                        <li>Body soap</li>
                        <li>Face & hand soap</li>
                        <li>Toothbrush</li>
                        <li>Razor</li>
                        <li>Body towel</li>
                    </ul>
                    <ul>
                        <li>Vanity kit<br />
                            (cotton, hair tie, and cotton swab)</li>
                        <li>Drip coffee<br />
                            (milk & sugar set)</li>
                        <li>Deodorizing spray</li>
                        <li>Disposable slippers</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cont5 access">
            <div class="title">
                <div>ACCESS</div>
                <img class="left_pc" src="/img/par_left_title.png">
                <img class="right_pc" src="/img/par_right_title.png">
                <img class="left_sp" src="/img/par_left_title_sp.png">
                <img class="right_sp" src="/img/par_right_title_sp.png">
            </div>
            <div class="street">
                <img class="img_pc" src="/img/access_map_street.png">
                <img class="img_sp" src="/img/access_map_street_sp.png">
                <div class="context">
                    <div class="line01">
                        <p><span>HANZOMON EXITS</span> EV: 5, 6&nbsp;&nbsp;STAIRS: 1~4</p>
                        <p><span>KOJIMACHI EXITS</span> EV: 1, 2&nbsp;&nbsp;STAIRS: 3~6</p>
                    </div>
                    <div class="line02">
                        <p>Nest Hotel Tokyo Hanzomon</p>
                        <p class="unbold">2-18 Hayabusacho, Chiyoda-ku, Tokyo, Japan</p>
                    </div>
                    <div class="line03">
                        <p><span>TEL</span> +81-3-6261-4022</p>
                        <p><span>FAX</span> +81-3-6261-4023</p>
                        <p><span>EMAIL</span> info.tokyo-hanzomon@nesthotel.co.jp</p>
                    </div>
                    <a class="location" target="_blank"
                        href="https://www.google.com/maps/place/%EB%84%A4%EC%8A%A4%ED%8A%B8+%ED%98%B8%ED%85%94+%EB%8F%84%EC%BF%84+%ED%95%9C%EC%A1%B0%EB%AA%AC/@35.6836514,139.7404815,18z/data=!4m9!3m8!1s0x60188c7a80c36b79:0xbe86e93b2f7e2c3!5m2!4m1!1i2!8m2!3d35.6833128!4d139.7419786!16s%2Fg%2F11hcvw7m34?entry=ttu">GOOGLE
                        MAPS<img src="/img/arrow_right.png"></a>
                </div>
            </div>
            <div class="train">
                <img class="img_pc" src="/img/access_map_train.jpg">
                <img class="img_sp" src="/img/access_map_train_sp.jpg">
                <div class="context">
                    <h4>TRAIN ACCESS</h4>
                    <p>1 minute walk from Hanzomon Station, Exit 1, Tokyo Metro Hanzomon line.<span>*For guests with
                            luggage, 1 minute walk from Exit 6 (escalator and elevator available).</span></p>
                    <p>6 minutes walk from Kojimachi Station, Exit 1, Tokyo Metro Yurakucho Line.</p>
                    <p>12 minutes by train from Tokyo Station, 10 minutes by taxi from Tokyo Station: Marunouchi Central
                        Exit.</p>
                    <p>40 minutes by train to Haneda Airport.</p>
                    <p>40 minutes by train to Tokyo Disneyland.</p>
                    <p>20 minutes by train to Tokyo Sky Tree.</p>
                </div>
            </div>
            <div class="airport_pc">
                <div class="line01">
                    <p>By Train <span>12min</span></p>
                    <img src="/img/line01_pc.png">
                </div>
                <div class="line02">
                    <h4>AIRPORT ACCESS</h4>
                    <h5>HANEDA AIRPORT</h5>
                    <p>By Tokyo Monorail <span>50min</span></p>
                    <img src="/img/line02_pc.png">
                </div>
                <div class="line03">
                    <p>By Keihinkyuko Line <span>40min</span></p>
                    <img src="/img/line03_pc.png">
                </div>
                <div class="line04">
                    <h5>NARITA AIRPORT</h5>
                    <p>By Limousine Bus <span>90min</span></p>
                    <img src="/img/line04_pc.png">
                </div>
                <div class="line05">
                    <p>By JR Narita Express <span>90min</span></p>
                    <img src="/img/line05_pc.png">
                </div>
            </div>
            <!-- <div class="airport_sp"></div> 반응형할때 만들기 -->
        </div>
        <div class="cont6 gallery">
            <div class="title">
                <div>GALLERY</div>
                <img class="left_pc" src="/img/par_left_title.png">
                <img class="right_pc" src="/img/par_right_title.png">
                <img class="left_sp" src="/img/par_left_title_sp.png">
                <img class="right_sp" src="/img/par_right_title_sp.png">
            </div>
            <div class="banner01"></div>
            <div class="banner02"></div>
            <div class="banner03"></div>
            <div class="banner04"></div>
        </div>
        <div class="cont7 contact">
            <div class="title">
                <div>CONTACT</div>
                <img class="left_pc" src="/img/par_left_title.png">
                <img class="right_pc" src="/img/par_right_title.png">
                <img class="left_sp" src="/img/par_left_title_sp.png">
                <img class="right_sp" src="/img/par_right_title_sp.png">
            </div>
            <div class="context">
                <div class="txt_col01">
                    <a href="#">BOOK NOW<img src="/img/arrow_right.png"></a>
                    <a href="#">JOIN US<img src="/img/arrow_right.png"></a>
                    <ul>
                        <li>
                            <span>Nest Hotel Tokyo Hanzomon</span>
                            <span class="unbold">2-18 Hayabusacho, Chiyoda-ku, Tokyo, Japan</span>
                        </li>
                        <li>
                            <span class="tel">TEL +81-3-6261-4022</span>
                            <span class="fax">FAX +81-3-6261-4023</span>
                        </li>
                    </ul>
                </div>
                <div class="txt_col02">
                    <span class="subtitle">LOCATIONS</span>
                    <ul>
                        <li><span>OSAKA</span>NEST HOTEL OSAKA UMEDA</li>
                        <li><span>HIROSHIMA</span>NEST HOTEL HIROSHIMA HATCHOBORI</li>
                        <li><span>HIROSHIMA</span>NEST HOTEL HIROSHIMA STATION</li>
                        <li><span>HAKATA</span>NEST HOTEL HAKATA STATION</li>
                    </ul>
                </div>
                <div class="txt_col03">
                    <ul>
                        <li><span>NAHA</span>TISSAGE HOTEL NAHA</li>
                        <li><span>NAHA</span>NEST HOTEL NAHA KUMOJI</li>
                        <li><span>NAHA</span>NEST HOTEL NAHA NISHI</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="left_wrap">
                <div class="totop">
                    <img src="/img/arrow_top.png">
                    <p>TOP</p>
                </div>
                <ul>
                    <!-- 기존에 존재하는 페이지로 연결한것입니다. -->
                    <li><a href="https://www.nesthotel.co.jp/corporate/en/" target="_blank">Corporate</a></li>
                    <li><a href="https://www.nesthotel.co.jp/en/" target="_blank">NHJC. HOTELS</a></li>
                    <li><a href="https://www.nesthotel.co.jp/corporate/privacy.html" target="_blank">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="right_wrap">
                <span>NEST HOTEL TOKYO HANZOMON(Japanese)</span>
                <span class="copyright">© 2019 NEST HOTEL All Rights Reserved.</span>
            </div>
        </div>
    </div>
</body>

</html>