<%- include("subHeader",{ title:"MY PAGE | NESTHOTEL TOKYO HANZOMON", cssFiles:["mypage_detail.css"],jsFiles:["mypage/cancel.js"] }) %>
    <div id="container">
        <div class="cont1">
            <div class="center">
                <div class="book_wrap">
                    <h2>Thanks for your Reservation!</h2>
                    <h4>This is your reservation information.<br />Please check the dates and additional details.</h4>
                    <div class="confirm">
                        <div>
                            <span class="index">Guest Name</span>
                            <span class="data"><%- login.membername %></span>
                        </div>
                        <div>
                            <span class="index">Guest E-mail Address</span>
                            <span class="data"><%- login.memberid %></span>
                        </div>
                        <div>
                            <span class="index">Guest Phone Number</span>
                            <span class="data"><%- login.memberphone %></span>
                        </div>
                        <div>
                            <span class="index">Check-in</span>
                            <span class="data"><%- data.checkin %></span>
                        </div>
                        <div>
                            <span class="index">Check-out</span>
                            <span class="data"><%- data.checkout %></span>
                        </div>
                        
                        <div>
                            <span class="index">Guest Numbers</span>
                            <span class="data">
                                <%- data.adult + data.child01 + data.child02 %>
                                    <span class="subtext">
                                        (adult : <%- data.adult %> / children : <%- data.child01 %> / infant
                                                : <%- data.child02 %>)
                                    </span>
                            </span>
                        </div>
                        <div>
                            <span class="index">Selected Room</span>
                            <span class="data">
                                <span class="room01">Single room (<%- data.room01 %>)</span>
                                <span class="room02">Twin room (<%- data.room02 %>)</span>
                                <span class="room03">Universal room (<%- data.room03 %>)</span>
                                <span class="room04">King room (<%- data.room04 %>)</span>
                            </span>
                        </div>
                    </div>
                    <div class="btns">
                        <a href="/mypage/list">Back</a>
                        <a class="cancel" href="/cancel/<%- data.num %>">Cancel</a>
                    </div>
                    <p class="reference">※ Payment can only be made at the Nest Hotel on-site.</p>
                </div>
            </div>
        </div>
    </div>
    <%- include("subFooter")%>